body, .spacer, #vis-menu{
    background-color: lightgray;
}

h1,h2 {
    color: seagreen;
}

h1 {
    padding: 1em 10px .5em 10px;
}

h2 {
    padding: .75em 7px 0 7px;
}

#summary-thumb, .figure {
    float: left;
}

.figure {
    margin-right: 10px;
}

a.navbar-brand {
    background-color: seagreen;
    color: #f8f9fa !important;
    padding: 5px 10px;
    border-radius: 5px;
}

.container {
    margin-top: 3%;
    margin-bottom: 2%;
}

.row {
    background-color: white;
}

.visual {
    margin: 0;
}

#row1, #row2 {
    padding: 10px 0;
}

.active {
    border: 2px solid seagreen;
}

#com-vis-menu {
    padding-bottom: 2%
}

@media (max-width: 992px) {
    #row1, #row2 {
        width: 50%;
        margin: 0 0 20px 0;
    }
    #row1 {
        float: left;
    }
    div.row > div.active {
        margin: -2px 0;
    }
}